.lineup-wrapper {
  width: 100%;
  margin-bottom: 20px;


  @include bp(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    margin-bottom: 60px;

  }


  .lineup-container {
    text-align: left;
    .semi-bold{
      margin-bottom: 0;
    }
    p {
      font-family: UniqloProRegular,
        'Uniqlo Pro Regular',
        'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
      font-size: 18px;

      @include bp(sm) {
        font-family: 'Helvetica Neue',
          Helvetica,
          Arial,
          sans-serif;
      }

      padding-right: 4%;
    }

    .note {
      font-size: 14px;
      color: #f00;
      margin: 5px 0;
    }
  }
}
