.lineup-wrapper {
  width: 100%;

  @include bp(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
  }

  margin-bottom: 60px;

  .lineup-container {
    text-align: left;

    p {
      font-family: UniqloProRegular,
      'Uniqlo Pro Regular',
      'Helvetica Neue',
      Helvetica,
      Arial,
      sans-serif;
      @include bp(sm){
        font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
      }
      padding-right: 4%;
    }
  }
}
