#about-heattech {
  padding-top: 50px;
  margin-bottom: 30px;

  @include bp(sm){
    margin-bottom: 60px;

  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 60px;
  }

  .heattech-image {
    margin: 0 auto 40px;

    @include bp(sm){
      width: 60%;
      margin: 0 auto 70px;

    }
    display: block;
  }
}

#three-types {
  margin-bottom: 60px;
  padding-top: 30px;
  @include bp(sm){
  padding-top: 50px;

  }

  .three-types-heattech {
    @include bp(sm){
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 15px;
    }

    text-align: center;

    .type-info {
      position: relative;
      margin-bottom: 15px;
      font-family: UniqloProRegular,
        'Uniqlo Pro Regular',
        'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;

      .btn-style {
        padding: 15px;
        border: 1px solid #E60312;
        background-color: #fff;
        color: #E60312;
        width: 40%;
        margin: 0 auto;
      }
    }

    .cta-type-btn {
      padding: 15px 0;
      width: 100%;

      button {
        margin: 15px 0;
        width: calc(100% - 1px);
        border: 1px solid #000;
      }

      &:hover button{
        color: #fff;
        background-color: #000;

      }
    }
  }
}
